// Loading
.router-load-indicator {
  position: absolute;
  top: calc(50vh - 40px);
  left: calc(50vw - 40px);
  margin: auto;
}

.loading-container {
  z-index: 3;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba($color: #fff, $alpha: 0.94);
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #000;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/**
  XS
*/
@media screen and (min-width: 0px) and (max-width: 599.99px) {
  .logo {
    height: 30px;
    display: block;
    margin: 0 auto;
  }
}
