.search-form {
  padding-top: 1vh;
}

mat-icon {
  color: #999;
}

.search {
  // width: calc(100% - 16px);
  // order: 2;
  outline: none;
  border: none;
  border-radius: 5px;
  /* background: red; */
  background-color: #eee;
  padding-left: 16px;
  height: 32px;
  transition: all 0.05s ease-in-out;
  -webkit-appearance: none;
}

.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
}
