.right {
  // height: 100%;
  background-image: url('/assets/img/marita-kavelashvili-ugnrXk1129g-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  
  // filter: blur(8px);
}
.login-container {
  min-height: 100vh;
}
.login-form-container {
  background-color: rgba($color: #fff, $alpha: 0.9);
  border-top-right-radius: 5%;
}

.sign-in {
  font-size: 2.5em;
  margin-bottom: 2vh;
}

.login-form {
  width: 50%;
}

.line {
  @extend .login-form;
  margin: 1vh 0 1vh 0;
}
