mat-sidenav-container {
    width: 100%;
    height: 100vh;
  }
  
  mat-sidenav {
    width: 15%;
  }
  
  .notifications {
    width: 25%;
  }
  
  .title {
    text-align: center;
    padding: 2vh 0 2vh 0;
    margin: 0;
  }
  
  mat-sidenav div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      text-align: center;
    }
  }
  
  .profile-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo-wrap {
    height: 64px;
  }
  
  .logo {
    padding: 1vh 2vw 1vh 2vw;
  }
  
  .profile-pic {
    width: 150px;
    height: 150px;
    // border-radius: 50%;
    margin-top: 1vh;
  }
  
  .email {
    margin-top: 1vh;
    color: #999;
  }
  .nav-icon {
    color: #999;
  }